body{
    background-color:rgb(5,10,38);    
}
img.logo{
    height: 75px;
    width: 288px;
    border-radius: 123px;
    float:left;
    margin-right: 40px;
}
.hediv2{
    height: 93px;
    position: relative;
}
form.heform{
    height: 42px;
    width: 357px;
    position: absolute;
    left: 700px;
    top: 25px;
}
#hese{
    width: 10px;
    height: 30px;
    border-radius: 19px;
    font-size: 19px;
    padding-left: 19px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(5, 10, 38);
    border-color: rgb(16, 233, 222);
    border-right-color: rgba(16, 233, 222,0.7);
    border-bottom-color: rgba(16, 233, 222,0.7);
    transition-duration: 0.6s;
}
::placeholder{
    color:rgb(16, 233, 222);
    opacity: 1;
}
::-ms-input-placeholder{
    color:rgb(16, 233, 222);
}
button#searchbtn{
    position: relative;
    right: 35px;
    bottom: 1px;
    color: rgb(16, 233, 222);
    background-color: rgb(5,10,38);
    border: none;
    font-size: 16px;
}
input{
    color: rgb(16, 233, 222);
}
#hese:hover{
    width: 300px;
}
img.login{
    position: absolute;
    height: 35px;
    width: 35px;
    bottom: 34px;
    right: 127px;
}
img.cart{
    height: 35px;
    width: 40px;
    position: absolute; 
    bottom: 32px;
    right: 26px;
}
li{
    color:rgb(16, 233, 222);
}
#henav{
    position: relative;
    height: 150px;
    width: 1247px;
}
#henav ul{
    margin: 0px;
    padding: 0px;
    position: absolute;
    list-style-type: none;
    height: 100%;
    width: 96%;
    left: 50px;
}
#henav ul > li{
    display: block;
    float: left;
    width: 170px;
    height: 40px;
    margin-right: 18px;
    border-radius: 5px;
    box-sizing: border-box;
}
#henav li > a{
    display: block;
    height: 100%;
    padding: 7px 0 0 40px;
    width: 155px;
    text-decoration: none;
    color: rgb(16, 233, 222);
    font-size: 19px;
    font-family:'Times New Roman', serif,Georgia;
    font-weight: bold;
}
#henav ul ul{
    margin-top: 0px;
    position: relative;
    border: 1px rgb(16, 233, 222) solid;
    height: 100px;
    width: 115px; 
    display: none;  
    border: none;  
}
#henav ul ul li{
    position: relative;
    float:none;
    display: block;
    height: 30px;
    width: 130%;
    right:40px;
    top:5px;
    margin-bottom: 5px;
    padding-top: 1px;
    box-sizing: border-box;
    padding-left: 0px; 
    /* box-shadow: 1px 1px 1px 1px rgba(77, 241, 200, 0.5) inset;  */
    /* border: 1px rgb(16, 233, 222) solid;   */
}
#henav ul ul li > a{
    height: 100%;
    width: 97%; 
    font-size: 14px; 
}
#henav li:hover{
    /* background-color: rgba(16, 233, 222,0.5); */
    border: 1px rgb(16, 233, 222) solid;
    /* border-top: 1px transparent solid; */
    
    /* box-shadow: 0px 0px 7px 7px rgba(1, 94, 170, 0.7) inset; */
    /* box-shadow: 0px 0px 3px 3px rgba(16, 233, 222, 0.8) inset; */
    border: none;
    border-bottom: 1px rgb(16, 233, 222)solid;
    box-shadow: none;
    border-radius: 0px;
}
#henav li.mainli:hover{
    width: 180px;
    /* box-shadow: none;
    border: none;
    border-bottom: 1px rgb(16, 233, 222)solid;
    border-radius: 0px; */
}

#henav li.mainli:hover > a{
    font-size: 21px;
}
#henav li:hover > ul{
    display:block;
}
img.navbar{
    height: 24px;
    top: 6px;
    width: 38px;
    right: 34px;
    position: absolute;
}
div#navmenu{
    position: relative;
    width: 237px;
    height: 450px;
    background-color: rgb(4, 38, 153);
    left: 1000px;
    top: 42px;
    display: none;
    transition-duration: 1.3s;
    animation-name: headerslide;
    animation-duration: 2.5s;
}
@keyframes headerslide{
    0%{
      transform: translateX(40px);
      background-color: transparent;
    }
    100%{
        transform: translateX(0px);
        background-color: rgb(4, 38, 153);
    }
}
div#navmenu:hover{
    background: rgb(1 4 20);
    width: 270px;
    height: 505px;
    left: 967px;
    box-shadow: 0px 0px 7px 5px rgb(77 241 200 / 70%) inset;
}
#navmenu ul.navli{
    margin: 0px;
    padding: 0px;
    position: absolute;
    list-style-type: none;
    width: 270px;
    height: 505px;
    left: 0px;
}
#navmenu ul.navli > li#help{
    display: block;
    width: 107px;
    height: 34px;
    /* border-radius: 10px; */
    box-sizing: border-box;
    position: absolute;
    right: 23px;
    top: 91px;
    margin: 0px;
    float: none;
}
#navmenu ul.navli > li#contact{
    display: block;
    /* border-radius: 10px; */
    box-sizing: border-box;
    position: absolute;
    margin: 0px;
    left: 72px;
    top: 28px;
    width: 170px;
    height: 40px;
    float: none;
}
#navmenu li#help > a#ahelp{
    display: block;
    height: 100%;
    width: 91px;
    text-decoration: none;
    color: rgb(16, 233, 222);
    font-size: 19px;
    font-family:'Times New Roman', serif,Georgia;
    font-weight: bold;
}
#navmenu li#contact > a#acontact{
    display: block;
    height: 100%;
    width: 170px;
    text-decoration: none;
    color: rgb(16, 233, 222);
    font-size: 19px;
    font-family:'Times New Roman', serif,Georgia;
    font-weight: bold;
}